/* general 
grey #F7F8F9
blue #47ADF1
violet #9B72E5
green #64C0A9
orange #F29D33
pink #D962A0
light green #B0C826
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins" , system-ui;
    font-style: normal;
    background-color: #F7F8F9;
    color: black;
    line-height: 2;
}

header {
    background-color: white;
}

.container {
width: 50%;
margin: 40px auto;
background-color: white;
border-radius: 2%;
}

ul {
    list-style-type: none;
}

/* text*/

  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
 
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  span {
    color: white;
    border-radius: 20%;
    padding: 2px;
  }
  .section-button {
    background-color: white;
    border-color:  #DEE1E4;
    border-width: 2px;
    border-radius: 5%;
    padding: 2px;
    color: #DEE1E4;
  }

  .blue-bg{
    background-color: #47ADF1;
  }

  .violet-bg {
    background-color: #9B72E5;
  }

  .green-bg {
    background-color: #64C0A9;
  }

  .orange-bg {
    background-color: #F29D33;
  }

  .pink-bg {
    background-color: #D962A0;
  }

  .lightgreen-bg {
    background-color: #B0C826;
  }

  .check {
    color: #64C0A9;
    border-radius: 50%;
    border-style: solid;
    border-color: #64C0A9;
  }

  .cross {
    color: red;
    border-radius: 50%;
    border-style: solid;
    border-color: red;;
  }